/* .project-form__outer{ */
    /* padding-left: 50px;
    padding-right: 50px; */
    /* width: 100%; */
    /* padding: 20px; */
    /* margin: 0 auto; */
/* } */

/* .form-control{
    width: 100%;
} */
/* .submit-button{  
    margin-left: 40%;
    margin-top: 30px;
    padding: 10px;
    width: 90px;
} */

/* .survey-form{ */

    /* flex-wrap: wrap;
    flex-direction: row; */

      
/* } */
/* 
.form-group{
    margin: 15px;
    width: 550px;

} */
/* .project-form{ */
    /* display: flex; */
    /* margin: 0 auto;

} */
/* .project-form__part1{
    display: flex;

} */